header
{
  background-color:#002171;
  color:#ffffff
  font-family:georgia, sans-serif;
}
h1
{
 line-height:200%;
}
h2
{
  coolor:#1976d2;
  font-family:georgia,serif;
nav
{
background-color:#bbdefb;
  font-weight:bold;
}
dt
{
  color:#002171;
  font-weight:bold;
}
footer
{
  font-size:.70em;
  font-weight:italic;
}

body
{ 
background-color:#ffffff;
color:#666666;
font-family: Arial, Verdana, sans-serif;
}
  .resort 
 {
  color:#1976d2;
  font-size:1.2em;
 }
  .wrapper
  {
   width:80%;
    margin-right:auto;
    margin-left:auto;
  }
